Repository zezav-cz/zezav-bolt: changes, and which lefthook commands are due for each by the changed paths.
All: puppet-lint, prettier, editorconfig

puppet-lint:
  run: bundle exec puppet-lint {staged_files}

prettier:
  run: mise exec -- prettier -c .

editorconfig:
  run: mise exec -- editorconfig-checker {staged_files}

CI
  .github/workflows/checks.yml
Due: prettier, editorconfig

Add CI batch
  README.md
Due: editorconfig

Remove pub page
  site/web/manifests/init.pp
  site/web/manifests/pub_zezav_cz.pp
Due: puppet-lint, editorconfig

fix(podman_quadlet): wire active param through to quadlet resource
  site/podman_quadlet/manifests/container.pp
  site/podman_quadlet/manifests/container/headscale.pp
Due: puppet-lint, editorconfig

fix(web): provide oidc_session_secret for private.zezav.cz on z01
  data/nodes/z01.de.yaml
  site/web/manifests/private_zezav_cz.pp
Due: puppet-lint, prettier, editorconfig

refactor: remove dead code and commented-out experiments
  Puppetfile
  bolt-project.yaml
  site/monitoring/manifests/binary/node_exporter.pp
  site/podman_quadlet/data/common.yaml
  site/podman_quadlet/hiera.yaml
  site/profile/manifests/posix_acl.pp
  site/profile/manifests/server_firewall.pp
  site/vpn/manifests/init.pp
Due: puppet-lint, prettier, editorconfig

docs: add @summary tags and fix README/CLAUDE.md drift
  CLAUDE.md
  README.md
  manifests/nodes.pp
  site/general/manifests/motd.pp
  site/monitoring/manifests/node_exporter.pp
  site/profile/manifests/base.pp
  site/profile/manifests/certbot.pp
  site/profile/manifests/fail2ban.pp
  site/profile/manifests/nginx_oidc.pp
  site/profile/manifests/podman.pp
  site/profile/manifests/sysctl.pp
  site/profile/manifests/tailscale.pp
  site/profile/manifests/timesync.pp
  site/profile/manifests/unattended_upgrades.pp
  site/profile/manifests/uploader.pp
  site/web/manifests/blog_zezav_cz.pp
  site/web/manifests/dir_zezav_cz.pp
  site/web/manifests/init.pp
  site/web/manifests/zezav_cz.pp
Due: puppet-lint, editorconfig

docs(todo): record round-2 backlog
  TODO.md
Due: editorconfig

chore: align tooling with project conventions
  .editorconfig
  data/nodes/z03.de.yaml
  doc/lessons-learned/podman-dnat-hairpin-loop.md
  lefthook.yml
  mise.toml
Due: prettier, editorconfig

Path conditions:
  puppet-lint: any of: *.pp
  prettier: any of: *.{yaml,yml,json}
  editorconfig: any of: *
